<div class="mainbox">
    <ul class="sidebar">
        <li class="lilogo ">DRIVER POOL <!-- <span class="dropdownicon"><i class="fa fa-arrow-down"></i></span>--></li>
        <li class="litext"><i class="fa fa-television" aria-hidden="true" >  </i>   Dashboard </li>
        <li class="litext"><i class="fa fa-taxi" aria-hidden="true">  </i> Cabs </li>
        <li class="litext"><i class="fa fa-key" aria-hidden="true"></i> Login </li>
        <li class="litext"><i class="fa fa-key" aria-hidden="true"></i> Register </li>
    </ul>

</div>