
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Comic+Neue:ital@1&family=Gotu&display=swap" rel="stylesheet">

<body>
    

<app-header></app-header>
<div class="container main">
    <h2>ABOUT US</h2>
    <p>Driver Pool is India’s largest carpooling platform. The driver pool application facilitates safety ride-sharing by providing users a choice to either offer or finds rides.</p>
    <div class="row mission">
        <div class="col-md-4 ">
            <h3><i class="fa fa-history fa-lg" aria-hidden="true"></i></h3>
             <h3>OUR HISTORY</h3>
             <p>Driver Pool is India’s largest carpooling platform. The driver pool application facilitates safety ride-sharing by providing users a choice to either offer or finds rides</p>

        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-globe fa-lg" aria-hidden="true"></i></h3>
            <h3>OUR MISSION</h3>
            <p> The driver pool application facilitates safety ride-sharing by providing users a choice to either offer or finds rides. We offer a ride in India. We provide trusted carpooling services.</p>

        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i></h3>
            <h3>OUR VISION</h3>
            <p>simple words, car pooling and ride-sharing mean a car-owner shares its empty seats with other travelers who are traveling in the same direction.</p>
        </div>

    </div>
    <hr>
    <h2>CUSTOMER SERVICES</h2>
    <hr>
    <div class="row customer">
        
        <div class="col-md-4 photo">
            <img src="../../../assets/img/white-ipad-38271.jpg" alt="" class="img-fluid rounded-circle " style="width: 50%; ">
            <h3>RELIABLE</h3>
            <p>It means book cabs online and books the best car rental services in India. People can commute from one point to another can share the empty seats and become traveling partner</p>
        </div>
        <div class="col-md-4 photo">
       
            <img src="../../../assets/img/internet-screen-security-protection-60504.jpg" alt="" class="img-fluid rounded-circle " style="width: 50%; ">
            <h3>SAFE</h3>
            <p> The driver pool application facilitates safety ride-sharing by providing users a choice to either offer or finds rides. We offer a ride in India. We provide trusted carpooling services.</p>
        </div>       
        <div class="col-md-4 photo">
            <img src="../../../assets/img/person-holding-coin-1602726.jpg" alt="" class="img-fluid rounded-circle " style="width: 50%; ">
            <h3>REASONABLE</h3>
            <p> Driver Pool is an application which allows users to share rides, commuting costs, and also reduce traffic and pollution, all at the same time. </p>
        </div>
        
    </div>
    <div class="row customer">
        
        <div class="col-md-4 photo">
            <img src="../../../assets/img/forced-perspective-photography-of-cars-running-on-road-below-799443.jpg" alt="" class="img-fluid rounded-circle " style="width: 50%; ">
            <h3>HANDY</h3>
            <p>The driver pool application facilitates safety ride-sharing by providing users a choice to either offer or finds rides. We offer a ride in India. We provide trusted carpooling services.</p>
        </div>
        <div class="col-md-4 photo">
            <img src="../../../assets/img/advice-advise-advisor-business-7075.jpg" alt="" class="img-fluid rounded-circle " style="width: 50%; ">
            <h3>TRANSPARENT</h3>
            <p>The driver pool application facilitates safety ride-sharing by providing users a choice to either offer or finds rides. We offer a ride in India. We provide trusted carpooling services.</p>
        </div>       
        <div class="col-md-4 photo">
            <img src="../../../assets/img/close-up-of-human-hand-327533.jpg" alt="" class="img-fluid rounded-circle " style="width: 50%; ">
            <h3>GOOD SERVICES</h3>
            <p>The driver pool application facilitates safety ride-sharing by providing users a choice to either offer or finds rides. We offer a ride in India. We provide trusted carpooling services.</p>
        </div>
        
    </div>
    <hr>
    <div class="team">
       
            <h2>OUR TEAM</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, maxime?</p>  
            <div class="row">
                <div class="col-md-3 photo1">
                    <img src="../../../assets/img/black-and-white-blur-child-close-up-289923.jpg" alt="" class="img-fluid " style="width: 80%; ">
                    <h3>BOY</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nihil.</p>

                </div>
                <div class="col-md-3 photo1">
                    <img src="../../../assets/img/photo-of-a-girl-in-a-white-background-3662979.jpg" alt="" class="img-fluid " style="width: 80%; ">
                    <h3>GIRL</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nihil.</p>

                </div>
                <div class="col-md-3 photo1">
                    <img src="../../../assets/img/boy-wearing-checked-button-up-long-sleeved-shirt-1619697.jpg" alt="" class="img-fluid " style="width: 80%; ">
                    <h3>BOY</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nihil.</p>

                </div>
                <div class="col-md-3 photo1">
                    <img src="../../../assets/img/photo-of-girl-in-orange-dungaree-holding-sunflower-2229898.jpg" alt="" class="img-fluid " style="width: 80%; ">
                    <h3>GIRL</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nihil.</p>

                </div>
        </div>
    </div>
    
</div>
<app-footer></app-footer>
</body>
