<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Comic+Neue:ital@1&family=Gotu&display=swap" rel="stylesheet">

<body>
<!-- Navbar starts here -->

<nav class="navbar navbar-expand-lg   fixed-top main">
  <a class="navbar-brand color tite" href="#">DRIVE POOL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: #053AA2;"> 🡳 </span>
  </button>
<div class="container">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="faq">Contact us</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right right-side">
      
      <!-- <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px; padding: 2%; margin: 5% 20%" >
          <form class="form-group" style="width: 90%; padding: 2%;" >
            
            <input class="form-control mar" type="text" placeholder="@email" aria-label="@email">
            <input class="form-control mar" type="password" placeholder="password" aria-label="password">
            <div class="dropdown-divider"></div>
            <button class="btn  center bgcolor" style="margin-left:35%;" >log in</button>
          </form>
          
          
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a href="signup">
        <button class="btn  center bgcolor" >Sign up</button>
      </a>
      </li>
        </ul>

     
  </div>
</div>
</nav>
<!-- Navbar ends here -->
</body>