<body>
    <app-header></app-header>
    <div >
      <!-- upper part booking -->
      <div id="particles-js" class="particle"></div>
    <div class="row main " >
      
        <div class="col-md-7 main-text"  >
            <h1>Reliable. Safe. Transparent.</h1>
            <h4 >Your trusted ride for every occasion!</h4>
        </div>
        <div class="col-md-5 find-ride">
        <app-sidebar></app-sidebar></div>
    </div>
    
    
    <!-- upper part Booking -->
           
         <!-- middel image -->
        <div class="row">
        <div class="container">
            <img class="middelimg" src="../../../assets/img/book.png" alt="" width="100%">
        </div>
      </div>
    
       <!-- middel image ends -->
    
    
    
        
    
    
    
         <!-- parallex start -->
    
        <div class="parallax">
            <div class="caption">
            <h1>The Cabs For You</h1>
            <h4>Travel the way you want in the cab you like</h4>
            <h5><a href="#">Sedan </a>|<a href="#"> Hatchback </a>|<a href="#"> SUV</a></h5>
            </div>
          </div>
    
          <!-- parallex ends -->
    
      <!-- news -->
      <div class="news">
        <div class="text-center">
          
          <h2 style="color: #053AA2;">Our Latest News</h2>
          <p>The weather started getting rough the tiny ship was tossed if not for the courage.</p>
      </div>
      <div class="row clearfix">
        <!--News Style One-->
          <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box wow fadeIn animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeIn;">
                <figure class="image-box"><a href="blog-single.html"><img src="../../../assets/img/news-image-1.jpg" alt=""></a> <div class="date-box"><span class="day">01</span><span class="month">Jan</span></div></figure>
                  <div class="lower-content">
                    <h3><a href="blog-single.html">Group would some form a family</a></h3>
                      <ul class="post-meta clearfix">
                        <li><a href="#"><span class="fa fa-eye"></span> 12 Views</a></li>
                          <li><a href="#"><span class="fa fa-share-alt"></span> 15 Shares</a></li>
                      </ul>
                      <div class="text">The weather started getting rough the tiny ship was lost the min ting a maximum security road and back stock a against ade lost the minnow.</div>
                     
                  </div>
              </div>
          </div>
          
          <!--News Style One-->
          <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box wow fadeIn animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeIn;">
                <figure class="image-box"><a href="blog-single.html"><img src="../../../assets/img/news-image-2.jpg" alt=""></a> <div class="date-box"><span class="day">27</span><span class="month">Feb</span></div></figure>
                  <div class="lower-content">
                    <h3><a href="blog-single.html">The tale of our castaways</a></h3>
                      <ul class="post-meta clearfix">
                        <li><a href="#"><span class="fa fa-eye"></span> 46 Views</a></li>
                          <li><a href="#"><span class="fa fa-share-alt"></span> 38 Shares</a></li>
                      </ul>
                      <div class="text">The weather started getting rough the tiny ship was lost the min ting a maximum security road and back stock a against ade lost the minnow.</div>
                      
                  </div>
              </div>
          </div>
          
          <!--News Style One-->
          <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
            <div class="inner-box wow fadeIn animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeIn;">
                <figure class="image-box"><a href="blog-single.html"><img src="../../../assets/img/news-image-3.jpg" alt=""></a> <div class="date-box"><span class="day">19</span><span class="month">Aug</span></div></figure>
                  <div class="lower-content">
                    <h3><a href="blog-single.html">Flying away on a wings and prayer</a></h3>
                      <ul class="post-meta clearfix">
                        <li><a href="#"><span class="fa fa-eye"></span> 51 Views</a></li>
                          <li><a href="#"><span class="fa fa-share-alt"></span> 42 Shares</a></li>
                      </ul>
                      <div class="text">The weather started getting rough the tiny ship was lost the min ting a maximum security road and back stock a against ade lost the minnow.</div>
                      
                  </div>
              </div>
          </div>
          
      </div>
      </div>
      
      <!-- news end -->
    
          <!-- group of boxs  -->
    
    
      
        <div class="row boxes" style="width: 100%; margin-top: 4%; ">
          <div class="col-md-7 gbimgleft">
            
             <img src="../../../assets/img/silhouette-of-man-and-child-near-white-hyundai-tucson-suv-1134857 (1).jpg" alt="" class="img-responsive" width="100%" height="50%">
              <h1 style="color: #053AA2;">Introducing Driver Pool</h1>
              <p>With choice of cars from economy hatchbacks to sedan, from premium sedans to SUVs and Luxury cars like Mercedes Benz; Meru offers you one stop solution for all your travel needs. Book one-way or round trip, plan in advance or just book for your immediate trip. Now, travelling has become even more hassle-free with Driver Pool.</p>
            
          </div>
          <div class="col-md-5">
             <div class="row">
              <div class="col-md-6 gbimgright">
                <div class="boxw" style="width: 100%; position: relative;">
               <img src="../../../assets/img/white-ipad-38271.jpg" alt="" width="100%">
               <div class="boxb">
               <h1>Driver pool now available</h1>
               <p>Driver pool has announced integration with Google that will enable customers to book cabs via Google Maps. While using Google maps to find a direction to reach their destination, users now have an option to find a cab from the entire range of Meru’s services...
      
              </p>
              </div>
            </div> 
              
            <div class="boxw" style="width: 100%; position: relative;">
              <img src="../../../assets/img/forced-perspective-photography-of-cars-running-on-road-below-799443.jpg" alt="" width="100%">
              <div class="boxb">
              <h1>Driver pool now available</h1>
              <p>Driver pool has announced integration with Google that will enable customers to book cabs via Google Maps. While using Google maps to find a direction to reach their destination, users now have an option to find a cab from the entire range of Meru’s services...
      
             </p>
             </div>
           </div>         </div>
              
            
      
            
              <div class="col-md-6 gbimgright">
                <div class="boxw" style="width: 100%; position: relative;">
                  <img src="../../../assets/img/internet-screen-security-protection-60504.jpg" alt="" width="100%">
                  <div class="boxb">
                  <h1>Driver pool now available</h1>
                  <p>Driver pool has announced integration with Google that will enable customers to book cabs via Google Maps. While using Google maps to find a direction to reach their destination, users now have an option to find a cab from the entire range of Meru’s services...
         
                 </p>
                 </div>
               </div>         
               <div class="boxw" style="width: 100%; position: relative;">
                <img src="../../../assets/img/person-holding-coin-1602726.jpg" alt="" width="100%">
                <div class="boxb">
                <h1>Driver pool now available</h1>
                <p>Driver pool has announced integration with Google that will enable customers to book cabs via Google Maps. While using Google maps to find a direction to reach their destination, users now have an option to find a cab from the entire range of Meru’s services...
       
               </p>
               </div>
             </div>         </div>
              
            </div>
            
          </div>
        </div>
      
      
      
      
      
      <!-- group of boxs ends -->
     
         
          <!-- slider start -->
          
        <div class="slider">
        <div class="container sbox ">
          <h1>What our customer says!</h1>
    
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active slide">
                  <h2 ><span style="font-size: 2em;">"</span>I had very good experience with Driver Pool service and car was neat and clean and comfortable Thanks for the service<span style="font-size: 2em;">"</span></h2>
                  
                  <h3>-----BY. @XYZ1223</h3>
            </div>
              <div class="carousel-item slide">
                <h2 ><span style="font-size: 2em;">"</span>I had very good experience with Driver Pool service and car was neat and clean and comfortable Thanks for the service<span style="font-size: 2em;">"</span></h2>
                
                <h3>-----BY. @XYZ1223</h3>
            </div>
              <div class="carousel-item slide">
                <h2 ><span style="font-size: 2em;">"</span>I had very good experience with Driver Pool service and car was neat and clean and comfortable Thanks for the service<span style="font-size: 2em;">"</span></h2>
                
                <h3>-----BY. @XYZ1223</h3>
            </div>
            <div class="carousel-item slide">
                <h2 ><span style="font-size: 2em;">"</span>I had very good experience with Driver Pool service and car was neat and clean and comfortable Thanks for the service<span style="font-size: 2em;">"</span></h2>
                
                <h3>-----BY. @XYZ1223</h3>
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
              <span class="sr-only" style="color: black;">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true" style="color: black;"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    
    
        </div>
    </div>
    
    
    
    
    <!-- slider ends -->
         
    <hr size="2px" color="rgb(50,50,50)">
    
    <!-- app download start -->
    
    <div class="row">
        <div class="col-md-5 Appp">
    <h1><span style="color: #053AA2;">DOWNLOAD</span> Our App Today</h1>
    <div class="container" style="text-align: center; margin-bottom: 10%;">
    <a href="#"><img src="../../../assets/img/gooleplay1.png" class="img-fluid ml-3c imageapp" width="35%"></a>
    <a href="#"><img src="../../../assets/img/appleStore1.jpg" class="img-fluid ml-2 imageapp" width="40%"></a>
    </div>
    </div>  </div>
    
    <!-- app download ends -->
    
    <app-footer></app-footer>
    </div>
    
    </body>
