<div class="form">
    <div class="jumbotron head ">
        
          <h3 style="color: #053AA2;">Book a Ride</h3>
          
        
      </div>
      <div class="padding">
<div class="input-group ">
    <div class="input-group-prepend">
        <span class="input-group-text">⚪</span>
      </div>
    <input type="text" class="form-control" placeholder="Enter pickup loction " >
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" >⚫</span>
      </div>
    <input type="text" class="form-control" placeholder="Enter Drop loction " >


</div>
<button class="btn  btnn">BOOK NOW</button>
</div>
</div>
