 <body>
     
 
    <div class="row" style="padding: 0; margin: 0;">
        <div class="col-md-2">
          <app-dsidebar></app-dsidebar>
        </div>
        <div class="col-md-10">
            <div class="row  repobox ">
                <div class="col-md-3 box"><app-reportbox></app-reportbox></div>
                <div class="col-md-3 box"><app-reportbox></app-reportbox></div>
                <div class="col-md-3 box"><app-reportbox></app-reportbox></div>
                <div class="col-md-3 box"><app-reportbox></app-reportbox></div>
            </div>
            
        </div>
    </div>
</body>
    

