<app-header></app-header>
  <div class="row">
    <div class="container">
         <div class="col-md-8 form">
            <h1>Payment By</h1>
            <div class="formbox">
                <form>
                  <div class="form-group form-row">
                     <div class="col">
                        <button (click)="pay(50)" class="btn btn-info btn-block">Payment by Card</button>
                     </div>
                      <div class="col">
                        <button class="btn btn-info btn-block"> Payment by Cash </button>
                       </div>
                   </div> 
                 </form>
             </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>