<body>
    

    <app-header></app-header>
    <div class="row">
        <div class="container">
            
            <div class="col-md-8 form">
                <h1>Edit Profile</h1>
                <div class="formbox">
                    <form>
                      <div class="form-group form-row">
                        <div class="col">
                        <img src="../../../assets/img/internet-screen-security-protection-60504.jpg" class="image" alt=""/>
                         </div>
                         <div class="col">
                          <h3>Upload Image</h3>
                        </div>
                      </div>

                      <div class="form-group form-row">
                    
                          <div class="col">
                            <input type="text" class="form-control" placeholder="First Name" required>
                          </div>
                          
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Last Name" required>
                          </div>
                      </div>
    
                        <div class="form-group form-row">
                          <div class="col-md-4">
                          <label for="inputState">Gender</label>
                          </div>
                          <div class="col-md-8">
                          <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                        </div>
    
                        <div class="form-group form-row">
                          <div class="col-md-4">
                          <label for="inputState">Year Of Birth</label>
                          </div>
                          <div class="col-md-8">
                          <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>2002</option>
                            <option>2001</option>
                            <option>2000</option>
                            <option>1999</option>
                            <option>1998</option>
                            <option>1997</option>
                            <option>1996</option>
                            <option>1995</option>
                            <option>1994</option>
                            <option>1993</option>
                            <option>1992</option>
                            <option>1991</option>
                            <option>1990</option>
                            
                          </select>
                        </div>
                        </div>
    
                          <div class="form-group">
                            <input type="text" class="form-control" id="inputBio" placeholder="Your Bio ">
                          </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn1 ">Save Profile info</button>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                        </div>
                           <button type="submit" class="btn btn1 ">Save EMAIL</button>
                        
                      </form>
    
                </div>
    
    
    
            </div>
            
        </div>
    </div>
    <app-footer></app-footer>
    </body>

