
<body>
    <app-header></app-header>
    <div class="row main" style="height: 500px;">
        <div class="col-md-2"></div>
        <div class="col-md-4 lg">
        <h1>GET IN TOUCH</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum enim totam commodi modi, veritatis nemo dolorum debitis sit voluptatem ea!</p>
    </div>
</div>

    <div class="container contactf">
        <div class="row">
            <div class="col-md-8" style="margin: 2% 0; padding: 0 5%;">
                <h4 class="h4s" style="color: #053AA2; padding: 2%; text-align: left;">SEND US A MESSAGE <span><i class="fa fa-envelope-o" style="float: right;" aria-hidden="true"></i></span></h4>
                <div class="formbox">
                    <form>
                        <div class="form-group form-row">
                          <div class="col input1">
                            <input type="text" class="form-control" placeholder="First Name" required>
                          </div>
                          
                          <div class="col input1">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group form-row ">
                            <div class="col input1">
                              <input type="text" class="form-control" placeholder="Phone No." required>
                            </div>
                            
                            <div class="col input1">
                              <input type="text" class="form-control" placeholder="State">
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="message" required>
                          </div>
                       
                        <button type="submit" class="btn btn1 rounded-circle "><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i></button>
                       
                      </form>
    
                </div>
    

            </div>
            <div class="col-md-4 contacti">
                <h6>Contact Information</h6>
                <div class="row" style="margin-top: 12%;">
                    <div class="col-md-2" style="width: 100%;">
                        
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8" style="margin: 0; padding: 0;">
                        <p style="font-size: 0.7em;">
                            360 KING STREET <br>
                            Lorem  ipsum, Loremipsum.
                        </p>

                    
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col-md-2" style="width: 100%;">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8" style="margin: 0; padding: 0;">
                        <p style="font-size: 0.8em;">
                            +918746584893                                               </p>

                    
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col-md-2" style="width: 100%;">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8" style="margin: 0; padding: 0;">
                        <p style="font-size: 0.8em;">
                            driverpoolpro@gmail.com                                             </p>

                    
                    </div>
                </div>




            </div>
    </div>
</div>
  <app-footer></app-footer>    

</body>
