<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz4HiIigWuOQE8gHgpLt3UGnocFqnCF98&libraries=places&language=en"></script>

<body>
    
<app-header></app-header>
<div class="row">
    <div class="container">
        
        <div class="col-md-8 form">
            <h1>Find a ride</h1>
            <div class="formbox">
                <form>
                    
                    <div class="form-group">
                        
                        <input type="text" class="form-control" placeholder="Leaving From" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                      </div>
                      
                    <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Going to" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                    </div>
                     
                   
                    <div class="form-group form-row">
                      <div class="col ">
                        <input  class="form-control" type="date" placeholder="Date" id ="dat" class="datepicker">
                       </div>
                       <div class="col ">
                        <input  class="form-control" type="time" placeholder="time" id ="dat" class="timepicker">
                       </div>
                 <!--  <div class="col">
                        <select id="inputState" class="form-control">
                          <option selected>Pessenger.</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          
                        </select>
                      </div>-->
                    </div>
                   
                    <button type="submit" class="btn btn1 "><a  href="payment">SEARCH</a></button>
                   
                  </form>

            </div>
        </div>
    </div>
</div>
 
<app-footer></app-footer>
</body>