<body>
  <app-header></app-header> 
<div class="container faq">
   <div class="row">
       <div class="col-md-4 faqleft">
           <h1>FAQ</h1>
           <h6>(frequently asked questions)</h6>
           <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis illum, sapiente omnis sed quo suscipit dolorum ullam animi. Perferendis debitis deleniti eligendi sapiente error soluta quis consequatur facere voluptate illo id dicta odio reiciendis, beatae nulla ad. Quam, facilis ullam.</p>
           --></div> 
       <div class="col-md-7 faqright">
           
               <div class="faqbtn">
                   <div class="btn-group" style="width: 100%;">
                   <button class="btn btn-primary btn1 mr-4" style="border-radius: 15px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2">+</button>
                   <button class="btn btn-primary btn2" style="border-radius: 10px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2">Why do I need to sign up ?</button>
                      </div>
                 <div class="collapse " id="multiCollapseExample1">
                   <div class="card card-body">
                     You do not need to sign-up as a member in order to search for a ride as a co-traveller.
<br>
                     If you are a car owner and you would like to offer a ride, you will need to join first
                   </div>
                 </div>
               </div>
               <div class="faqbtn">
                   <div class="btn-group" style="width: 100%;">
                   <button class="btn btn-primary btn1 mr-4" style="border-radius: 15px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">+</button>
                   <button class="btn btn-primary btn2" style="border-radius: 10px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">How do I login ?</button>
                      </div>
                 <div class="collapse " id="multiCollapseExample2">
                   <div class="card card-body">
                     It’s easy as pie and fast as lightning. Go to Log in.Enter your login details. And you’re in!
                   </div>
                 </div>
               </div>

               <div class="faqbtn">
                   <div class="btn-group" style="width: 100%;">
                   <button class="btn btn-primary btn1 mr-4" style="border-radius: 15px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">+</button>
                   <button class="btn btn-primary btn2" style="border-radius: 10px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">How does Drivepool work ?</button>
                      </div>
                 <div class="collapse " id="multiCollapseExample3">
                   <div class="card card-body">
                     Drivepool is a global carpooling platform encouraging commuters to share ride. Riders and vehicle owners both can create carpool and add their route details along with other preferences.
                   </div>
                 </div>
               </div>

               <div class="faqbtn">
                   <div class="btn-group" style="width: 100%;">
                   <button class="btn btn-primary btn1 mr-4" style="border-radius: 15px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample2">+</button>
                   <button class="btn btn-primary btn2" style="border-radius: 10px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample2">How do i find a ride ?</button>
                      </div>
                 <div class="collapse " id="multiCollapseExample4">
                   <div class="card card-body">
                     It's easy go to our Find a ride section, add source and destination and click on search button to see the carpools available
                   </div>
                 </div>
               </div>

               <div class="faqbtn">
                   <div class="btn-group" style="width: 100%;">
                   <button class="btn btn-primary btn1 mr-4" style="border-radius: 15px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">+</button>
                   <button class="btn btn-primary btn2" style="border-radius: 10px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">How do i Offer a ride ?</button>
                      </div>
                 <div class="collapse " id="multiCollapseExample5">
                   <div class="card card-body">
                     Create carpool is mentioned in Offer a ride section. Simply mention your source and destination details along with other details. Once done your carpool will be live immediately.
                   </div>
                 </div>
               </div>
           

             
       </div>

   </div>
   <button class="btn btn-danger btn3" style="text-align: center;"><a href="contactf" style="text-decoration: none; color: white;"> ✆ <sup>?</sup></a>	</button>
</div>
<app-footer></app-footer>
</body>